$tablet-width: 767px;
$desktop-width: 1023px;

.headerWrapper {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 3;
    padding-top: 10px;
    .headerLogo {
        width: 100%;
        @media (min-width: $tablet-width) {
            width: 55%;
        }
        @media (min-width: $desktop-width) {
            width: 40%;
        }

        padding-left: 5%;
    }

    .navigationLinks {
        text-align: center;

        a {
            text-decoration: none;
            color: #000;
            font-size: 22px;
        }
    }

    .cartWrapper {
        float: right;

        .cartMsg {
            text-align: right;
            display: inline-block;
        }

        .cartIcon {
            float: right;
        }
    }
}

.bottomShadow {
    box-shadow: 0 10px 15px -6px rgba(0, 0, 0, 0.4);
}
.homePage {
    @media (min-width: $desktop-width) {
        margin: 0 3%;
    }
    .SliderWrapper {
        margin-bottom: 3%;
        .bannerImgWrapper {
            text-align: center;
            margin-bottom: 10px;
            img {
                width: 100%;
            }
        }
    }
    .categoryRecomendations {
        .homeCategory {
            display: flex;
            margin: 5%;
            padding: 3%;
            img {
                width: 50%;
            }
            .heading,
            .description {
                margin: 10px;
            }
            .heading {
                font-weight: 500;
            }
            a {
                text-decoration: none;
                color: #fff;
                background-color: #d00155;
                padding: 10px;
                border-radius: 5px;
                border: none;
            }
            .homeCategoryImg,
            .homeCategoryText {
                text-align: center;
                width: 50%;
            }
            .homeCategoryImg {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                    @media (min-width: $desktop-width) {
                        width: 50%;
                    }
                }
            }
        }
    }
}

.footer {
    background-color: #e2e2e2;
    padding: 5px 10px;
    text-align: center;
}

.plp {
    @media (min-width: $desktop-width) {
        margin: 0 3%;
    }

    .listingSection {
        display: inline-block;
        width: 100%;
        min-height: 600px;
        margin-top: 2%;
        @media (min-width: $tablet-width) {
            width: 80%;
        }

        .productListing {
            .addSuccessMsg {
                display: none;
                position: fixed;
                border: 1px solid white;
                padding: 20px;
                background: red;
                left: 45%;
                bottom: 20px;
                border-radius: 10px;
                opacity: 0.8;
                z-index: 1;
                color: #fff;
                &.is-visible {
                    display: block;
                }
            }
            .productCard {
                padding: 20px;
                .productHeading {
                    word-break: break-all;
                    height: 95px;
                    overflow: hidden;
                    text-overflow: hidden;
                }
                .productImg {
                    height: 160px;
                    margin-bottom: 10px;
                }
                .productActionArea {
                    justify-content: space-between;
                    .addToBagBtn {
                        color: #fff;
                        background-color: #d00155;
                    }
                }
            }
        }
    }
    .categoryPanel {
        .desktopCategoryList {
            display: none;
            background-color: #e2e2e2;
            width: 20%;
            float: left;
            position: sticky;
            height: 100vh;
            top: 50px;
            margin-bottom: 5%;
            @media (min-width: $tablet-width) {
                display: inline-block;
            }
        }
        .mobileCategoryList {
            summary {
                list-style: none;
                .accordionSummary {
                    background-color: #d00155;
                    color: #fff;
                    font-weight: 500;
                }
            }

            .accordionDetails {
                justify-content: center;
                p {
                    width: -webkit-fill-available;
                }
            }
            @media (min-width: $tablet-width) {
                display: none;
            }
        }
        .categoryList {
            list-style: none;
            padding: 0;
            margin: 0;
            .categoryItem {
                border-bottom: 1px solid grey;
                padding: 10px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.loginWrapper {
    padding: 5% 10%;

    .leftComponent {
        width: 50%;
        display: inline-block;
    }

    .rightComponent {
        width: 50%;
        display: flex;
        margin: 0;
        float: right;
        justify-content: space-around;
        align-items: center;
        .googleAuthWrapper {
            .signOutBtn {
                background-color: grey;
                color: #fff;
                padding: 10px;
            }
            .signInBtn {
                background-color: #ff0000;
                border-radius: 5px;
                color: #fff;
                padding: 10px;
                border: none;
            }
        }
    }
}

.MiniCartWrapper {
    position: fixed;
    top: 0;

    z-index: 3;
    background-color: #e2e2e2;
    border: 1px solid black;
    height: 100vh;
    width: 100%;

    min-height: 90%;
    @media (min-width: $desktop-width) {
        top: 50px;
        width: 450px;
        right: 3%;
        height: fit-content;
    }

    .cartHeading {
        background-color: #000;
        color: #fff;
        padding: 3%;

        .headerTxt {
            display: inline-block;
        }

        .closeCartBtn {
            float: right;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .cartList {
        list-style: none;
        height: 300px;
        overflow-y: auto;
        padding: 0;
        .cartItem {
            background-color: #fff;
            margin-bottom: 10px;
            padding: 10px;
            display: flex;
            .cartImgCotainer {
                width: 15%;
                img {
                    width: 100%;
                }
            }
            .cartItemDetail {
                width: 85%;
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .cartItemQuantity {
                    display: flex;
                    justify-content: space-evenly;
                    .count {
                        margin: 0 10px;
                    }
                    .cartCTA {
                        display: flex;
                        justify-content: center;
                        border-radius: 50%;
                        width: 25px;
                        height: 25px;
                        color: #fff;
                        background-color: #d00155;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .crossSign,
                    .singleItemPrice {
                        margin: 0 5%;
                    }
                    .totalItemPrice {
                        margin-left: 5%;
                    }
                }
            }
        }
    }
    .lowPrice {
        padding: 10px;
        margin: 10px;
        background-color: #fff;
        .imgContainer {
            display: inline-block;
            img {
                width: 80%;
            }
        }
    }
    .proceedWrapper {
        background: #fff;
        position: absolute;
        bottom: 0;
        padding: 10px;
        text-align: center;
        width: -webkit-fill-available;
        .checkoutBtn {
            width: 100%;
            color: #fff;
            background: #d00155;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
            border: none;
        }
    }
    .emptyCartMsg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        flex-direction: column;
    }
}

.App {
    .overlayVisible {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 2;
        &:hover {
            cursor: pointer;
        }
    }
}
